/* -------------------------- */
/* BASIC SETUP */
/* -------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main { 
    min-height: 100vh;
    background-color: #f4f7f9;
    position: relative;
    z-index: 1;
    padding: 2rem;
}

html {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: rgb(65, 65, 65);
    font-size: 1.25rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: #f4f7f9; 
}

.clearfix { zoom: 1 }
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    margin: 0 auto;
    max-width: 1140px;
}

/* ------- BUTTONS -------- */

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: 22rem;
    left: -1.2rem;
    background-color: #e67e22;
    padding: 0.9rem 1.8rem;
    margin-top: 1rem;
    color: #fff;
    border-radius: 300px;
    transition: background-color 0.4s, color 0.4s;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

/* -------------------------- */
/* HEADER */
/* -------------------------- */

header { 
    height: 100vh; 
    background-color: #f4f7f9;
    z-index: -2;
}

#main_image {
    display: block;
    position: relative;
    left: 5.5rem;
    float: right;
    height: 93vh;
    max-width: 67vw;
    margin-top: -3.5rem;
    overflow: hidden;
}

#search_64 {
    position: relative;
    float: right;
    right: 8.5rem;
    top: -1.05rem;
    z-index: 1;
}

#user_64 {
    position: relative;
    z-index: 1;
    float: right;
    right: 10rem;
    top: -1rem;
    z-index: 1;
}

.main_text_box { z-index: -1; }

.main_text {
    position: relative;
    display: inline-block;
    top: 9rem;
    left: 9.7rem;
    font-family: 'Caveat', cursive, sans-serif;
    color: #7a7a7a;
    font-size: 1.875rem;
    transform: rotate(-5deg) skew(-5deg);
}

.perfect_gift {
    position: absolute;
    display: inline-block;
    top: 16rem;
    left: 9.7rem;
    font-weight: 600;
    font-size: 2rem;
}

.sweat {
    position: absolute;
    display: inline-block;
    top: 21.25rem;
    left: 9.7rem;
    color: #b33939;
    font-weight: 400;
    font-size: 1.5rem;
}

.popular {
    position: relative;
    bottom: -40rem;
}

.popular_cat{
    display: inline-block;
    position: relative;
    color: #828282;
    bottom: 10rem;
    left: 9.7rem;
}

#cat {
    display: inline-block;
    position: relative;
    bottom: 6.5rem;
    left: 1.2rem;
    font-weight: 600; 
    border-right: 1px solid #b5b5b5;
    height: 120px;
    width: 9rem;
}

#cat1 {
    display: inline-block;
    position: absolute;
    bottom: 6.5rem;
    left: 19.5rem;
    font-weight: 600;
    border-right: 1px solid #b5b5b5;
    height: 120px;
    width: 8.7rem;
}

#cat2 {
    display: inline-block;
    position: absolute;
    bottom: 6.5rem;
    left: 28.5rem;
    font-weight: 600;
    border-right: 1px solid #b5b5b5;
    height: 120px;
    margin-left: 1rem;
    width: 10.7rem;
}

#Greater_than:link,
#Greater_than:visited {
    display: inline-block;
    position: relative;
    bottom: -1.5rem;
    left: -0.5rem; 
    padding-right: 1rem;   
    transition: color 0.3s;
}

#Greater_than:hover,
#Greater_than:active {
    color: #828282;
}

#Greater_than1:link,
#Greater_than1:visited {
    display: inline-block;
    position: relative;
    bottom: -1.5rem;
    left: -0.5rem;
    padding-right: 1rem;
    transition: color 0.3s;
}

#Greater_than1:hover,
#Greater_than1:active {
    color: #828282;
}

#Greater_than2 {
    display: inline-block;
    position: relative;
    bottom: -1.5rem;
    left: -0.5rem;
    padding-right: 1rem;
}


/* -------------------------- */
/* NAV */
/* -------------------------- */

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 2.35rem;
}

.logo {
    width: 2rem;
    position: relative;
    left: -21rem; 
    cursor: pointer;
}

.main_nav {
    position: relative;
    left: -16rem; 
    top: -1.75rem;
    cursor: pointer;
    z-index: 1;
}

.main_nav li, a {
    color: rgba(0, 0, 0, 0.733);
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0rem 0.4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

/* -------------------------- */
/* FOOTER */
/* -------------------------- */

footer {
    /* place on the bottom */
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;

    background: #252a47;
    display: grid;
    place-items: center;
    padding: 50px;
    z-index: -1;
    height: 30vh;
}


.searchbar {
    position: relative;
    float: right;
    right: 8.5rem;
    top: -1.05rem;
    z-index: 1;
}