/* -------------------------- */
/* BASIC SETUP */
/* -------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main { 
    min-height: 100vh;
    background: white;
    position: relative;
    z-index: 1;
    padding: 2rem;
}

html {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: rgb(65, 65, 65);
    font-size: 1.25rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix { zoom: 1 }
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    margin: 0 auto;
    max-width: 1140px;
}

/* -------------------------- */
/* HEADER */
/* -------------------------- */

header { 
    height: 100vh; 
    background-color: #f4f7f9;
}

#main_image {
    display: block;
    float: right;
    height: 93vh;
    max-width: 67vw;
    margin-top: -70px;
    overflow: hidden;
}

#search_64 {
    position: relative;
    z-index: 1;
    float: right;
    right: 170px;
    top: -21px;
}

#user_64 {
    position: relative;
    z-index: 1;
    float: right;
    right: 200px;
    top: -20px;
}

.main_text_box { z-index: -1; }

.main_text {
    position: relative;
    display: inline-block;
    top: 180px;
    left: 120px;
    font-family: 'Caveat', cursive, sans-serif;
    color: #7a7a7a;
    font-size: 1.875rem;
    transform: rotate(-5deg) skew(-5deg);
}

.perfect_gift {
    position: absolute;
    display: inline-block;
    top: 320px;
    left: 120px;
    font-weight: 600;
    font-size: 40px;
}

.sweat {
    position: absolute;
    display: inline-block;
    top: 425px;
    left: 120px;
    color: #b33939;
    font-weight: 400;
    font-size: 30px;
}

/* -------------------------- */
/* NAV */
/* -------------------------- */

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 47px;
}

.logo {
    width: 40px;
    position: relative;
    left: -500px;
    cursor: pointer;
}

.main_nav {
    position: relative;
    left: -400px;
    top: -35px;
}

.main_nav li, a {
    color: rgba(0, 0, 0, 0.733);
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0rem 0.4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

/* -------------------------- */
/* FOOTER */
/* -------------------------- */

footer {
    /* place on the bottom */
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;

    background: #252a47;
    display: grid;
    place-items: center;
    padding: 50px;
}

